*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    gap: 15px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
}
ul>li{
    cursor: pointer;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: -2px 2px 2px gray;
}
main{
    height: 300px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card{
    height: 250px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px gray;
    text-align: center;
}

.footer{
    height: 300px;
    background-color:bisque ;
}


.circle{
     height: 100px;
     width: 100px;
    border: 2px solid black;
    border-radius: 50%;

}

#logo{

    color: darkgreen;
    float: right;

}