*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}
.inner{
    border: 2px solid black;
    width: 350px;
    padding: 10px 20px;
    background-color: yellowgreen;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.inner> button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: orange;
    padding: 10px;


}
.inner>button:hover{
    background-color: orangered;
    color: aliceblue;
    cursor: pointer;
}
.inner>h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 10px;
}
.inner>.loc{
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.inner>.info{
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}