*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer > .inner{
    height: 200px;
    width: 200px;
    background-color: yellow;

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
}
.outer > .inner:hover{
    background-color: red;
}