*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer>.inner{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    overflow: hidden;
}
.outer .white{
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
}
.outer .black{
    height: 50px;
    width: 50px;
    background-color: black;
}


