*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    background-color: bisque;
}
.outer>img{
    height: 200px;
    width: 200px;
    transition: all 1s ease-out;


}
.outer>img:hover{
    transform: scale(1.2) ;
    
         
}        