*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black,white,blue);
}
.outer>.inner{
    height: 200px;
    width: 200px;
    background-color: red;
     
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
.outer>.inner:hover{
    background-color: yellow;
    border-radius: 50%;
}