*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    gap: 20px;

}
nav>ul>li{
    cursor: pointer;
    
}
nav>ul>li:hover{
    color: blue;
}
nav>h1{
    color: red;
    font-size: 23px;
    text-transform: capitalize;
    margin-left: 25px;
    font-weight: bold;
    
}
.button>.b1{
    margin-left: 10px;
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-transform: capitalize;
}
.button>.b2{
    margin-right: 25px;
    border: 2px solid blue;
    color: blue;
    border-radius: 8px;
    font-size: 15px;
    padding:5px 10px ;
    text-transform: capitalize;
    color: blue;
}
nav>ul{
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

}