*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    width: 800px;
    border: 2px solid black;
    background-color: antiquewhite;
    display: flex;
}
.container>.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
