*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav > ul{
    height: 100px;
    background-color: black;
    color: aliceblue;
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 20px;

}
main{
    height: 250px;
    background-color: bisque;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
main> h1{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 3px;
}
main>p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
}
main>button{
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: black;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: bold;
    border: none;

}
section{
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}
section>div{
    height: 250px;
    width: 300px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    
}
section>div>img{
    height: 180px;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}