*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
.box2{
    height: 200px;
    width: 300px;
    border: 2px solid black;
}
.box3{
    height: 200px;
    width: 400px;
    border: 2px solid black;
}
.outer{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
}