*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: grid;

    grid-template-columns: repeat(3,200px);
    grid-auto-rows: 100px;
    justify-content: center;
    align-content: center;
    gap: 10px;

    

}
.outer .box{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

#box1{
    grid-column: span 3;
    background-color: orangered;
}
#box2{
    grid-row: span 2;
    background-color: blueviolet;
}
#box3{
    grid-column: span 2;
    background-color: darkmagenta;
}
#box8{
    grid-row: span 2;
    background-color: rgb(20, 2, 20);
}
#box4{
    background-color: black;
}
#box5{
    background-color: orange;
}
#box6{
    background-color: green;
}
#box7{
    background-color: tomato;
}
#box9{
    background-color: sienna;
}
#box10{
    background-color:chartreuse;
}