*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{

    height: 100vh;
    width: 100vw;
    
    display: grid;
    
    grid-template-columns: repeat(2,50%);

    grid-template-rows: 80px ;

}

.box{
    border: 2px solid black;
    border: none;
}

#box1{
    grid-column: span 2;

    padding-left: 40px;

    padding-right: 60px;

    display: flex ;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 188);
    color: white;

}

#box4{
    grid-column: span 2;
height: 100px;
background-color: rgb(33, 33, 188);
}

#box2{

    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1>ul{
    display: flex;
    gap: 10px;
    list-style: none;

    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

#box2>img{
    height: 500px;
    width: 500px;
}

#box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#box3{
    text-align: center;
}

#box3>button{
    padding: 7px 25px;
    border-radius: 15px;
    background-color: rgb(84, 84, 240);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#box3>p{
    text-transform: initial;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#box3>h1{
    font-weight: bolder;
    text-transform: capitalize;
}

#box3>button:hover{
    background-color: rgb(119, 119, 231);
}
ul>li:hover{

    color: antiquewhite;
    cursor: pointer;

}
