*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.o1{
    height: 100vh;
   text-align: center;
  align-content:center ;
   background-image: linear-gradient(black,orangered,red);
}
.o2{
    color: white;
}
.outer{
    display: grid;
    
    grid-template-columns: repeat(3,250px);
    
    grid-auto-rows: 150px;
    
    justify-content: center;
    gap: 5px;

}
.outer>.box{
    border: 5px solid black;
    transition: all 0.4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    grid-row: span 2;
  
    background-image: url(https://thewowstyle.com/wp-content/uploads/2015/02/the-river-in-valley-of-beautiful-mountains-hd-wallpaper-75015.jpg);
    background-size: 600px;
    background-position: center;
    
}
#box4{
    grid-column: span 2;
    background-image: url(https://wallpaperaccess.com/full/3329117.jpg);
    background-position: center;
    background-size: cover;
}
#box1:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
.box>p{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
}
#box5{
    background-image: url(https://static.vecteezy.com/system/resources/previews/040/754/389/non_2x/ai-generated-a-calm-and-blue-sea-water-background-with-sky-free-photo.jpg);
 background-position: center;
    background-size: 700px;
}
#box2:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box3:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box4:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box5:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box6:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box7:hover{
    transform: translatey( - 20px);
    
    background-position: top;

    transform: scale(1.08);

}
#box2{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.iYqhR1dfMPY4S0ZHQptqTwHaE7?pid=Api&P=0&h=180);
     background-position: center;
    background-size: 400px;
}
#box6{
    background-image: url(https://images.all-free-download.com/images/graphiclarge/sunflower_01_hd_picture_166872.jpg);
     background-position: center;
    background-size: cover;
}
#box7{
    background-image: url(https://jooinn.com/images/beautiful-clouds.jpg);
    background-position: center;
    background-size: 400px;

}
#box3{
    background-image: url(https://wallpapercave.com/wp/wp2833534.jpg);
    background-position: center;
    background-size: 400px;

}

h1{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow:-3px 2px 3px  black ;
}




