*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-image: linear-gradient(to right , blue , white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 500px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    background-image: linear-gradient(to right,);
}

.inner>.img1{
    height: 350px;
    width: 250px;
    opacity: inherit;

    position: absolute;
     z-index: 1;

    bottom: 20px;
    left: 180px;
}
.inner>.img2{
    height: 300px;
    width: 300px;

    position: absolute;
    bottom: 20px;


    right: 150px;

}
