div{
    background-color: antiquewhite;
    height: 400px;
    width: 400px;
}
a{
    color: black;
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}  