*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{
    height: 100px;
    width: 200px;
    background-color: red;
    float: right;
}
.box2{
    height: 200px;
    background-color: yellow;
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box3{
    height: 100px;
    width: 200px;
    background-color: red;
    float: right;
}
.box4{
    height: 200px;
    background-color: yellow;

    clear: right;
}