*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    width: 100vw;
    background-color: black;

}
.inner{
    height: 600px;
    width: 800px;
    border: 2px dotted violet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}
#box1{
    border: 2px solid brown;
}
#box2{
    border: 2px solid pink;
}
#box3{
    border: 2px solid magenta;
}
#box4{
    border: 2px solid forestgreen;
}
#box{
    border: 2px solid yellow;
}